#header{
    background: #000000;
    color: #eceff1;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: #eceff1;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: #eceff1;
}

#header a:link, #header a:hover{
    color: #b0bec5;
}