<nav>
  <ul class="pagination justify-content-center">

    <li class="page-item {% if is_first_page %}disabled{% endif %}">
      <a class="page-link" href="{{ list_url }}/{{ page|add:"-1" }}">Предыдущая</a>
    </li>

    {% for _ in ''|center:pages_num %}
      {% if forloop.counter == page %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="{{ list_url }}/{{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ list_url }}/{{ forloop.counter }}">{{ forloop.counter }}</a></li>
      {% endif %}
    {% endfor %}

    <li class="page-item {% if is_last_page %}disabled{% endif %}">
      <a class="page-link" href="{{ list_url }}/{{ page|add:"1" }}">Следующая</a>
    </li>

  </ul>
</nav>